alias dev="cd $HOME/dev"
alias afk="/System/Library/CoreServices/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine"
alias vi="vim"
alias update="brew update; brew upgrade; brew cleanup"

alias sshprod='ssh brittonk@192.168.11.228'
alias sshdemo='ssh brittonk@192.168.11.202'
alias sshdev='ssh brittonk@192.168.11.203'
alias sshcsv='ssh brittonk@192.168.11.11'

alias rebase_master="git stash; git pull --rebase origin master; git stash apply"

alias gs="clear; git branch; git status"

alias gss="tig status"

alias cw="cd $HOME/dev/bafs/clearwater; source .venv2/bin/activate"
alias cw3="cd $HOME/dev/bafs/clearwater; source .venv3/bin/activate"

alias tmux_cw="$HOME/dev/dev_setup/scripts/tmux_cw.sh cw"
alias tmux_cw3="$HOME/dev/dev_setup/scripts/tmux_cw.sh cw3"

alias bafs_js_reset="cw; cd jscommon; rm -rf dist; rm -rf node_modules; yarn; yarn run build-dev; cd ../render; rm -rf dist; rm -rf node_modules; yarn; yarn run build-dev; cd ..; make jscommon-symlink; cd commotion; rm -rf node_modules; yarn; cd ../revival/static; rm -rf node_modules; yarn; yarn transpile"

# This doesn't work yet... work on it... and don't break with no params
wip() {
    if [ "$1" == "a" ] || [ "$1" == "A"]; then
        param="-A"
    else
        param="-u"
    fi
    git add $param
    git commit -m "WIP [skip CI]"
}
