alias dev="cd $HOME/dev"
alias afk="/System/Library/CoreServices/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine"
alias vi="vim"
alias update="brew update; brew upgrade; brew cleanup"

alias sshprod='ssh brittonk@192.168.11.228'
alias sshdemo='ssh brittonk@192.168.11.202'
alias sshdev='ssh brittonk@192.168.11.203'
alias sshcsv='ssh brittonk@192.168.11.11'

alias rebase_master="git stash; git pull --rebase origin master; git stash apply"

alias gs="clear; git branch; git status"

alias gss="tig status"

alias cw="cd $HOME/dev/bafs/clearwater; source .venv2/bin/activate"
alias cw3="cd $HOME/dev/bafs/clearwater; source .venv3/bin/activate"

alias tmux_cw="$HOME/dev/dev_setup/scripts/tmux_cw.sh cw"
alias tmux_cw3="$HOME/dev/dev_setup/scripts/tmux_cw.sh cw3"
